UL#topnav { FLOAT: left; FONT-SIZE: 1.1em; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px }
UL#topnav LI { POSITION: relative; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; FLOAT: left; PADDING-TOP: 0px; font-family:Georgia; font-size:11px; text-shadow:1px 1px #000; font-style:italic; }
UL#topnav LI A { FLOAT: left; HEIGHT: 20px;}
UL#topnav LI A:hover { FLOAT: left; HEIGHT: 20px; }
UL#topnav LI .sub { POSITION: absolute; DISPLAY: none; FLOAT: left; TOP: 30px; LEFT: 0px; width:220px; z-index:999 }
UL#topnav LI .row { WIDTH: 100%; FLOAT: left; CLEAR: both; }
UL#topnav LI .sub UL { WIDTH: 220px; FLOAT: left; LIST-STYLE-IMAGE: none; }
UL#topnav .sub UL LI { WIDTH: 100%; padding-left:0px;}
UL#topnav .sub UL LI A { PADDING-BOTTOM: 8px; TEXT-INDENT: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; DISPLAY: block; FLOAT: none; TEXT-DECORATION: none; PADDING-TOP: 1px
}
UL#topnav .sub UL LI A:hover {  }